<% unless comment.archived? || comment.new_record? %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.user.first_name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

 <p>
  <% if allowed_to?(:destroy?, comment) %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  <% end %>
</p>

  <% if current_user == comment.user %>
    <p>
      <%= link_to "Edit Comment", article_comment_path(comment.article, comment), class: "btn btn-primary" %>
    </p>
  <% end %>
<% end %>
