<article class="card mt-4">
  <div class="card-body">
    <h1 class="card-title"><%= @article.title %></h1>

    <section class="card-text">
      <p><%= @article.body %></p>
    </section>

    <div class="mt-3">
      <%= link_to "Destroy", article_path(@article), class: "btn btn-danger",
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</article>

<section class="mt-5">
  <h1>Edit Article</h1>
  <%= render "form", article: @article %>
</section>
