@import "bootstrap";
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #837e7e;
  color: #fff;
  padding: 1rem 0;
}

footer {
  background-color: #837e7e;
  color: #fff;
  padding: 1rem 0;
  margin-top: 2rem;
}

.my-custom-button {
  background-color: #011f1f;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
}
