@import "bootstrap";
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #837e7e;
  color: #fff;
  padding: 1rem 0;
}

footer {
  background-color: #837e7e;
  color: #fff;
  padding: 1rem 0;
  margin-top: 2rem;
}

.my-custom-button {
  background-color: #011f1f; /* Ваш любимый цвет */
  color: #fff; /* Белый текст */
  border-radius: 20px; /* Закругленные углы */
  padding: 10px 20px; /* Отступы */
  font-size: 16px; /* Размер шрифта */
}
